
h1 {
    color: #1c35e8;
    text-align: center;
    font-weight:bold;
    font-size:50px;
}
h3 {
    color: #00FF00;
    text-align: center;
    font-weight:bolder;
    font-style: italic;
    font-size:35px;
}
p {
    color: #FF0000;
    text-align: justify;
    font-weight:normal;
    font-style: normal;
    font-size: 25px;
}
#FirstBlock {
   /* position:absolute;
    left:10px;
    top: 200px;
    */
    position: relative;
    top:30px;
    left:20px;
}
#FirstBlank {
    position: relative;
    bottom:20px;
    left:130px;  
}

#SecondBlock {
    position:relative;
    bottom: 70px;
    left:310px;
}

#SecondBlank {
    position: relative;
    bottom:120px;
    left:530px;  
}

#ThirdBlock {
    position:relative;
    bottom: 170px;
    left:710px;
}

#ThirdBlank {
    position: relative;
    bottom:220px;
    left:760px;  
}

#FourthBlock {
    position:relative;
    bottom:225px;
    left:20px;
}

#FourthBlank {
    position: relative;
    bottom:275px;
    left:200px;  
}
#FifthBlock {
    position:relative;
    bottom:325px;
    left:400px;
}